
<h1 class="table-title">Collectibles</h1>

<%= form_tag(user_collectibles_path, :method => 'get', id: "search") do %>
  <p class="search-bar">
    <strong>Search Item Names: </strong>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name_of_item => nil %> /
    <%= link_to "Advanced Search", new_user_search_path %>
  </p>
<% end %>
<br>
<table>
  <thead>
    <tr>
      <strong><th>Keep?</th></strong>
      <strong><th>Media</th></strong>
      <strong><th>Publisher</th></strong>
      <strong><th>Name of Item</th></strong>
      <strong><th>Story Title</th></strong>
      <strong><th>Year</th></strong>
      <strong><th>Vol. #</th></strong>
      <strong><th>Issue #</th></strong>
      <strong><th>Artist</th></strong>
      <strong><th>Writer</th></strong>
      <strong><th>Condition</th></strong>
      <strong><th>Estimated Value</th></strong>
      <th colspan="12"></th>
    </tr>
  </thead>

  <tbody>
    <% @collectibles.each do |collectible| %>
      <tr>
        <td>
          <% if collectible.keep %>
            <p>&#9989</p>
          <% end %>
        </td>
        <td><%= collectible.media %></td>
        <td><%= collectible.publisher %></td>
        <td><%= collectible.name_of_item %></td>
        <td><%= collectible.story_title %></td>
        <td><%= collectible.year %></td>
        <td><%= collectible.vol_num %></td>
        <td><%= collectible.issue_num %></td>
        <td><%= collectible.artist %></td>
        <td><%= collectible.writer %></td>
        <td><%= collectible.condition %></td>
        <td><%= collectible.est_value %></td>
        <td><%= link_to 'Details', user_collectible_path(@user, collectible) %></td>
        <td><%= link_to 'Add Similar', new_user_collectible_path(@user, collectible) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div class="new-collectible">
  <%= link_to 'Add a Collectible', new_user_collectible_path %>
</div>
