<div class="collectible-details">

<div>
  <strong><%= @collectible.publisher %></strong><br>
  (<%= @collectible.year %>)
  <strong>
    <%= @collectible.name_of_item %> Vol #: <%= @collectible.vol_num %> Issue #: <%= @collectible.issue_num %>
  </strong>
  <br>
  <%= @collectible.story_title %>
  <br><br>
  Cover Artist: <%= @collectible.cover_artist %>
  Artist: <%= @collectible.artist %>
  <% if @collectible.artist2 %>
    Artist 2: <%= @collectible.artist2 %>
    <% if @collectible.artist3 %>
      Artist 3: <%= @collectible.artist3 %>
    <% end %>
  <% end %>

  Writer: <%= @collectible.writer %>
  <br>
  Condition: <%= @collectible.condition %>
  <br>
  Estimated Value: <%= @collectible.est_value %>
  <br><br>
  Notes: <br>
  <p><%= @collectible.notes %></p>
</div>
<div>
  <%= link_to 'Edit', edit_user_collectible_path(current_user, @collectible) %> |
  <%= link_to 'Delete', user_collectible_path(@user, @collectible), method: :delete %>
</div>

<br/>

<%= link_to 'Back', user_collectibles_path(@collectible) %>

</div>
