<div class="nav-bar">
<% if user_signed_in? %>
  <%= link_to 'Collectibles Index', user_collectibles_path(current_user) %> |
<% else %>
  <%= link_to 'Collectibles Index', new_user_session_path %> |
<% end %>
<%= link_to 'Advanced Search', new_user_search_path(current_user) %> |
<%= link_to 'FAQ', '/pages/faq' %> |
<%= link_to 'Grading Guide', 'http://comicspriceguide.com/comic-book-grading' %> |
<%= link_to 'Pricing Guide', 'http://comicspriceguide.com/comic-book-search' %>
<% if user_signed_in? %>
  <div class="auth-links">
    <% if current_user.admin? %>
      <%= link_to 'Admin Tools', users_path %> |
    <% end %>
    <%= link_to 'Edit User Profile', edit_user_registration_path %> |
    <%= link_to 'Sign out', destroy_user_session_path, :method=>'delete' %>
  </div>
<% else %>
  <div class="auth-links">
    <%= link_to 'Sign in', new_user_session_path %> |
    <%= link_to 'Sign up', new_user_registration_path %>
  </div>
<% end %>

</div>
