<div class="nav-bar">
<%= link_to 'Movie Index', '/' %> |
<%= link_to 'About', '/pages/about' %>
<% if user_signed_in? %>
  <div class="auth-links">

    <%= link_to 'Edit User Profile', edit_user_registration_path %> |
    <%= link_to 'Sign out', destroy_user_session_path, :method=>'delete' %>
  </div>
<% else %>
  <div class="auth-links">
    <%= link_to 'Sign in', new_user_session_path %> |
    <%= link_to 'Sign up', new_user_registration_path %>
  </div>
<% end %>

</div>
