<!DOCTYPE html>
<html>
  <head>
    <title>ComicBookKeeper</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <header>
      <h1 class="nav-title">Comic Book Keeper</h1>
      <%= render 'layouts/navigation' %>
    </header>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <div class="sub-nav">
      <%= yield %>
    </div>
  </body>
</html>
